{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Manage your Trade App</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success">Save the Trade App</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
